        body {
            font-family: 'Bricolage Grotesque', sans-serif;
            cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%231C225E" width="64px" height="64px"><circle cx="12" cy="12" r="10"/></svg>'), auto;
            margin: auto;
            padding: auto;
            background-color: #DCDCDC;
            color: #000;
            text-align: auto;
            font-size: 15pt;
            transition: margin-top 0.1s ease;
            margin: 50px 0 0 0;
        }

        header {
            position: fixed;
            width: 100%;
            background-color: #fff;
            color: #000;
            text-align: center;
            padding: 0px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid #000;
            z-index: 1000;
            margin: -50px 0 0px 0px;
        }

        header h1, header #infoLink {
            cursor: pointer;
            margin: 0;
            font-weight: 600;
            font-size: 40px;
        }


        .line {
            border-top: 2px solid #000;
            margin-top: 0px;
        }

        .columns {
            display: flex;
            justify-content: center;
            margin-top: 0px;
            margin: 5 0 0 0
        }

        .column {
            column-count: 1;
            column-gap: 30px;
            flex: .7;
            text-align: right;
            font-size: 18pt;
            font-weight: 500;
            width: 100%;
            margin-right: 50px;
            text-decoration: none;
        }

        .columnA {
            column-count: 1;
            column-gap: 30px;
            flex: .5;
            text-align: left;
            font-size: 18pt;
            font-weight: 500;
            width: 100%;
            margin-right: 10px;
            text-decoration: none;
        }

        .columnB {
            column-count: 1;
            column-gap: 30px;
            flex: 1em;
            text-align: left;
            font-size: 18pt;
            font-weight: 500;
            width: 100%;
            margin-right: 10px;
            text-decoration: none;
        }

        .columnC {
            column-count: 1;
            column-gap: 10px;
            flex: .5;
            text-align: left;
            font-size: 25pt;
            font-weight: 500;
            width: 100%;
            margin-bottom: 0px;
            text-decoration: none;
        }

        .column a {
            text-decoration: none;
            color: #000;
            transition: filter 0.3s ease;
        }

        .column a:hover {
            filter: brightness(70%);
        }

        footer {
            position: bottom;
            margin-top: 10px;
            border-top: 3px solid #000;
            text-align: left;
            padding: 10px 0;
        }
