body {
    font-family: 'Bricolage Grotesque', sans-serif;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%231C225E" width="64px" height="64px"><circle cx="12" cy="12" r="10"/></svg>'), auto;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    text-align: left; /* 수정 */
    font-size: 15pt;
    transition: margin-top 0.1s ease;
}

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 0px; /* 수정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #000;
    z-index: 1000;
    margin: 0; /* 수정 */
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 0; /* 수정 */
    margin: 20px 0 0 0;
    align-items: center; /* 수정 */
    justify-content: center; /* 수정 */
}

.slides {
    height: 100%; /* 추가 */
}

.column {
    flex: 1; /* 수정 */
    text-align: left;
    font-size: 30pt;
    width: 100%;
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    header {
        padding: 0;
        margin: 0;
    }

    .slider {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: 20px 0 0 0;
        align-items: flex-start; /* 수정 */
        justify-content: flex-start; /* 수정 */
    }

    .columns {
        flex-direction: column;
        align-items: center; /* 추가 */
    }

    .column:nth-child(2),
    .column:nth-child(3) {
        display: none;
    }

    header #infoLink {
        display: none;
    }
}
