html {
  height: 100%;
  width: 100%;
  /*텍스트 선택 불가*/
  -webkit-user-select: none !important; 
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  }
}

