html {
  height: 100%;
  width: 100%;
  /*텍스트 선택 불가*/
  div{ -webkit-touch-callout: none;
     user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -webkit-user-select: none;
  }
    }
}

